/*algemene stijling*/
html {
    background: url("img/Blue-movie-film-strip-backgrounds.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

/*zorgt ervoor dat je niet kan scrollen naar links/rechts*/
body {
    overflow-x: hidden;
}

img {
    width: 7.5em;
    height: 12.5em;
    background-color: white;
    border: 1em solid;
    border-color: white;
    margin-top: 5em;
    margin-left: 5em;
}

.normal {
    color: white;
    width: 25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-shadow: 1px 1px 1px red,
        2px 2px 1px orange,
        3px 3px 1px yellow,
        4px 4px 1px green,
        5px 5px 1px lightblue,
        6px 6px 1px purple,
        7px 7px 1px pink;
    /*Bron: https://glenino.github.io/Frontend-D/index.html (Frontend Development opdracht)*/
    text-align: center;
    background-size: 2em;
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    border-color: greenyellow;
    transform: scale(1.1, 1.1);
}

/*stijl voor loading scherm*/

#loader { /*bron: https:https://www.youtube.com/watch?v=b9zyKCsUJfY*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: visible;
    background: #005E8C url("img/starswirl.gif") no-repeat center center;
    margin-top: -2em;
    margin-left: -0.5em;
}

.loadingtitel{
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.loadingtekst{
    margin-top: 27.5em;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}

/*stijl voor de favorietenvak*/
.dropzone {
    width: 25em;
    background: url("img/star.jpg");
    /*Bron: https://www.google.nl/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F93806-yellow-stars-background-vector&psig=AOvVaw2vjehfiJHCmz695qvNf6Bk&ust=1587145748101000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMiw9-XA7egCFQAAAAAdAAAAABAJ*/
    margin-right: auto;
    border: 0.1em solid;
    border-color: yellow;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0.1em;
    margin-left: 1em;
}

h2 {
    font-size: 1.5rem;
    color: black;
    margin-left: 5em;
    margin-right: auto;
    border: 0.3em;
}

p {
    color: white;
    width: 25em;
    margin-right: auto;
    margin-left: 1em;
    margin-top: -1.8em;
}

/*zorgt ervoor dat de stijling van de afbeeldingen veranderen, als ze in de dropzone komen */
div > img {
    width: 2.5em;
    height: 4.5em;
    background-color: white;
    border: 0.3em solid;
    border-color: white;
    margin-top: 0.9em;
    margin-left: 0.5em;
}

div:hover {
    border-color: greenyellow;
}

/*classes/stijling voor de pijlknoppen*/

.pijlr {
    width: 3.5em;
    height: 3.5em;
    border: 0em;
    margin-right: 15em;
    margin-top: 1.8em;
}

.pijll {
    width: 3.5em;
    height: 3.5em;
    border: 0em;
    margin-left: 15em;
    margin-top: 1.8em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Bron: Koop Reynders)*/

.pijll:hover {
    transform: scale(1.2, 1.2);
}

.pijlr:hover {
    border-color: greenyellow;
    transform: scale(1.2, 1.2);
}

/*classes voor de carrousel*/

section {
    display: flex;
    flex-direction: row;
    width: 120%;
}

/*Bron: Vincent Kempers en May Johansson*/

section > img {
    margin-left: 635px;
}

/*Bron: https://glenino.github.io/frontend-voor-designers-1920/opdracht2 (Frontend voor Designers opdracht 2)*/
.superm {
    transition: margin-left 1s;
}

.mario {
    margin-left: 0em;
}

.luigi {
    margin-left: -50em;
}

.peach {
    margin-left: -99em;
}

.daisy {
    margin-left: -148.3em;
}

.wario {
    margin-left: -197.5em;
}

.waluigi {
    margin-left: -246.6em;
}
