.super {
    display: flex;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.super > .party {
    padding-top: 3em;
    padding-right: 1em;
    padding-left: 1em;
    background: red;
    text-align: center;
    border: 0.2em solid black;
    margin-right: 20em;
    margin-left: 35em;
    margin-top: 5em;
    width: 20em;
}

.super > .party:hover {
    border-color: greenyellow;
    transform: scale(1.2, 1.2);
}

.super > .party > h4,
.super > .party > p {
    color: white;
    width: 15em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


.party img {
    width: 6em;
    height: 6em;
}

html {
    background: url("img/party.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pijlr {
    width: 4.5em;
    height: 4.5em;
}

.pijll {
    width: 4.5em;
    height: 4.5em;
}

.superm {
    /*    margin-left: -3000px;*/
    transition: margin-left 1s;
}

.mario {
    margin-left: 0em;
}

.luigi {
    margin-left: -70em;
}

.peach {
    margin-left: -140em;
}

.daisy {
    margin-left: -210em;
}

.wario {
    margin-left: -280em;
}

.waluigi {
    margin-left: -350em;
}

.yoshi {
    margin-left: -420em;
}

.rosalina {
    margin-left: -490em;
}


.pijll:hover {
    transform: scale(1.2, 1.2);
}

.pijlr:hover {
    border-color: greenyellow;
    transform: scale(1.2, 1.2);
}

h1{
        text-shadow: 1px 1px 1px red,
        2px 2px 1px orange,
        3px 3px 1px yellow,
        4px 4px 1px green,
        5px 5px 1px lightblue,
        6px 6px 1px purple,
        7px 7px 1px pink;
    text-align: center;
    background-size: 2em;
}

.intro{
    font-family: fantasy;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    max-width: 40em;
    margin: auto;
    background-color: white;
}